.rotate {
  animation: rotation 8s infinite linear;
  transition: 2s;
}
.img{
  display: block;
  width: 20%;
  margin: auto;
}
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotateY(180deg);
  }
}