.container-image{
  display: flex;
  justify-content: center;
  margin: auto;
  margin-top: 4%;
  max-width: 800px;
  text-align: center;
  height: auto;
  background-color: #ffff;
  border-radius: 10px ;
  padding: 10px;
}
.not-have{
  font-size: 32px;
  display: block;
}
.img-content{
  width: 100%;
}